# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.AccountingMaterials.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Kiryl_Shamiakou\Work\Databases-and-data-banks.-Course-project\AccountingMaterials\.idea\.idea.AccountingMaterials\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
