<div class="em-nav-menu">
  <mat-toolbar class="em-nav-menu__toolbar" color="primary">
    <mat-toolbar-row class="em-nav-menu__toolbar-row">
      <h1>KKS App</h1>
      <span class="menu-spacer"></span>
      <div>
        <a mat-button [routerLink]="'/'"> Сотрудники </a>
        <a mat-button [routerLink]="'/materials'"> Материалы </a>
        <a mat-button [routerLink]="'/about'"> О нас </a>
        <a mat-button [routerLink]="'/contacts'"> Контакты </a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
