# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.Databases-and-data-banks.-Course-project.iml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Kiryl_Shamiakou\Work\Databases-and-data-banks.-Course-project\.idea\.idea.Databases-and-data-banks.-Course-project.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
